@import 'tailwindcss';

@theme {
  --color-earth-0: #ede0d4;
  --color-earth-1: #e6ccb2;
  --color-earth-2: #ddb892;
  --color-earth-3: #b08968;
  --color-earth-4: #7f5539;
  --color-earth-5: #9c6644;
  --color-earth-6: #b07d62;
  --color-earth-7: #9d6b53;
  --color-earth-8: #8a5a44;
  --color-earth-9: #774936;
  --color-1: #f5efe7;
  --color-2: #e8dacb;
  --color-3: #dccbb8;
  --color-4: #c7b39a;
  --color-5: #d3b178;
  --color-6: #988776;
  --color-7: #4d3f35;
  --color-8: #2f2a26;
  --color-9: ;
}
body,
html {
  overflow-x: hidden;
}

.caligraphy {
  font-family: 'Great Vibes', cursive;
  font-style: normal;
}
* {
  font-family: 'Cormorant Garamond', serif;
  /* font-weight: 200; */
  font-style: normal;
  letter-spacing: -1px;
}

.blob-mask {
  mask-image: url('/public/blob.svg');
  -webkit-mask-image: url('/public/blob.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.active-image {
  opacity: 1;
  transition: opacity 0.7s ease forwards;
}
.heart-element:before {
  content: '♡';
  color: var(--color-earth-4);
  position: absolute;
  top: -17px;
  left: 50%;
  transform: translate(-50%, 0);
  font-weight: 800;
}
.heart-element:after {
  content: '♡';
  color: var(--color-earth-4);
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translate(-50%, 0) rotate(180deg);
  font-weight: 800;
}
